<div class="home__container">
  <app-card
    gameCover="./assets/bt5.png"
    gameLabel="DIGITAL"
    gameType="DIGITAL | PS4"
    gamePrice="R$ 499,90"
    ></app-card>
  <app-card
    gameCover="./assets/bt5.png"
    gameLabel="EXCLUSIVE"
    gameType="DISC | PS5"
    gamePrice="R$ 599,90"
  ></app-card>
  <app-card
  gameCover="./assets/bt5.png"
  gameLabel="DIGITAL"
  gameType="DIGITAL | PS4"
  gamePrice="R$ 499,90"
  ></app-card>
<app-card
  gameCover="./assets/bt5.png"
  gameLabel="EXCLUSIVE"
  gameType="DISC | PS5"
  gamePrice="R$ 599,90"
></app-card>
<app-card
  gameCover="./assets/bt5.png"
  gameLabel="EXCLUSIVE"
  gameType="DISC | PS5"
  gamePrice="R$ 599,90"
></app-card>
<app-card
  gameCover="./assets/bt5.png"
  gameLabel="EXCLUSIVE"
  gameType="DISC | PS5"
  gamePrice="R$ 599,90"
></app-card>
</div>

