<div class="menu-bar__container">
    <div class="menu-bar__logo">
      <img
        src="./assets/ps-logo.png"
        alt="Playstation logo"
        srcset=""
        width="140px"
        height="32px"
       >
    </div>
    <div class="menu-bar__item">
      <!-- ul>(li>a)*3 -->
      <ul>
        <li><a href="#">YOUTUBE</a></li>
        <li><a href="https://www.linkedin.com/in/ernesto-sales-7410525/">LINKEDIN</a></li>
        <li><a href="https://github.com/ErnestoSSantos">GITHUB</a></li>
      </ul>
    </div>
</div>
